@import "partials/variables";
@import "partials/mixins";
@include google-font("Italiana");

html, body {
	font-family: $headerFont;
	padding: 0;
	border: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: relative;
}

hr {
	width: 20%;
	border-width: 2px;
	border-radius: 3px;
	border-color: $panoPink;
	margin: 20px auto 70px auto;
}

.container-fluid, .col-xs-12 {
	margin: 0;
	padding: 0;
}

.row {
	padding: 0;
	margin: 0;
}

.button-collapse {
	position: fixed;
	z-index: 6;
	right: 50px;
	top: 25px;
	font-size: 36px;
	// font-weight: bold;
	// color: #EE6E73;
	color: black;
}

.button-collapse:hover, .button-collapse:focus {
	text-decoration: none;
	// color: white;
	color: black;
}

#landingText {
	font-family: $headerFont;
	font-size: $landingFontSize;
	color: white;
	position: absolute;
	z-index: 5;
	padding-top: 200px;
	margin: 0;
	width: 100%;
}

#video {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 702px;

}

video#bgVid {
	width: 100%;
    // top: 50%;
    // left: 50%;
    // min-width: 100%;
    // min-height: 100%;
    // width: auto;
    // height: auto;
    // -ms-transform: translateX(-50%) translateY(-50%);
    // -moz-transform: translateX(-50%) translateY(-50%);
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
    // background-size: cover; 
}

#overLay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(255,215,220, 0.7);
}

#logo {
	z-index: 1000;
	position: fixed;
	top: 25px;
	left: 50px;
}

#cart {
	text-decoration: none;
	color: black;
}
.fa-shopping-cart {
	position: fixed;
	z-index: 1000;
	top: 25px;
	right: 120px;
}

.side-nav {
	li:nth-child(1) {
		margin-top: 150px;
	}
	li {
		text-align: left;
		font-size: 28px;
	}
}


.side-nav {
	li>a {
		font-size: 28px;
		&:hover, &:focus {
			color: $panoPink;
			background-color: transparent;
			text-decoration: none;
		}
	}
}

.button-collapse .active {
	color: black;
}

#main {
	// z-index: -1;
	// position: relative;
}

#main {
	h1 {
		margin: 80px auto 0 auto;
		font-size: $labelFontSize;
	}
}

#categories {
	// background-color: #F1D6D6;
	border-radius: 4px;
	border: solid 3px $panoPink;
	height: 350px;
	width: 250px;
	text-align: left;
	margin: 0 auto;
	.divider {
		background-color: #F1D6D6;
		height: 2px;
	}
	li {
		padding-left: 20px; 
	}
	li > a {
		font-size: 26px;
		color: black;
		&:hover, &:focus {
			text-decoration: none;
			color: $panoPink;
		}
	}
}

.btn-group {
	float: right;
}

form {
	display: inline-block;
}

.dropdown-menu {
	li > a:hover, a:focus {
		color: $panoPink;
		background-color: transparent;
		text-decoration: none;
	}
}

#product {
	p {
		font-size: 20px;
	}
	// padding-bottom: 70px;
}

#occassions {
	margin: 80px auto 70px auto;
	padding-bottom: 80px;
	background-color: $panoPink;
	h1 {
		margin-top: 70px;
		font-size: $labelFontSize;
	}
	hr {
		border-color: white;
		border-width: 2px;
		width: 20%;
	}
	.boxes {
		margin-left: 15px;
		h2 {
			position: absolute;
			display: block;
			margin-left: 70px;
			top: 40px;
			color: white;
		}
	}
	.boxes:nth-child(0n+1) {
		margin-bottom: 30px;
	}
}

#contact {
	// font-weight: bold;
	h1 {
		font-size: $labelFontSize;
	}
	hr {
		width: 10%;
	}
	#contactBlurb {
		width: 50%;
		margin: 0 auto;
	}
	#contactIcons {
		margin: 25px auto;
		a {
			padding: 0 15px;
			color: black;
			&:hover, &:focus {
				color: $panoPink;
			}
		}
	}
	// .logoBack {
	// 	background-image: url('../img/head-logo.png');
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// }
}

#loginContainer, #registerContainer {
	margin: 125px 0;
	h1 {
		// font-size: $labelFontSize;
		padding-top: 25px;
		margin-bottom: 50px;
	}
	.btn {
		background-color: #cf2a27;
	}
	#registerBox {
		background-color: $panoPink;
		border-radius: 3px;
		height: 680px;
		width: 80%;
		margin: 0 auto;
		.input-field {
			margin: 15px auto;
			input:focus {
				border-bottom: 1px solid grey;
				box-shadow: 0 1px 0 0 grey;
			}
			label {
				padding-left: 37px;
				color: black;
				font-size: 12px;
			}
		}
		.input-field input#fName, input#lName, 
		input#city, input#state, input#zipcode, input#phoneNumber {
			width: 80%;
			margin: 0 auto;
		}
		.input-field input[type=email] {
			width: 85%;
			margin: 15px auto;
			border-bottom: 1px solid grey;
		}
		.input-field input[type=text] {
			margin: 15px auto;
			border-bottom: 1px solid grey;
		}
		#address {
			width: 85%;
		}
		#regPw, #confirmPw {
			width: 85%;
			margin: 0 auto;
		}
	}
	#loginBox {
		background-color: $panoPink;
		border-radius: 3px;
		height: 290px;
		width: 80%;
		margin: 0 auto;
		.input-field {
			width: 70%;
			margin: 15px auto;
		}
		.input-field label {
	    	color: black;
	    	font-size: 12px;
	    }
		.input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label {
	     color: black;
	    }
		.input-field input[type=password], 
		.input-field input[type=email] {
			border-bottom: 1px solid grey;
		}
		.input-field input[type=password]:focus, 
		.input-field input[type=email]:focus {
		     border-bottom: 1px solid grey;
		     box-shadow: 0 1px 0 0 grey;
		}
	}
}

#cartContainer {
	margin: 140px auto;
	h1 {
		display: inline-block;
	}
	.btn {
		width: 90%;
		background-color: #cf2a27;
		margin: 15px auto;
	}
	#listedItems {
		border-top: $panoPink 3px solid;
		width: 85%;
		margin: 0 auto;
	}
	#summary {
		width: 90%;
		height: 800px;
		background-color: $panoPink;
		border-color: $panoPink;
		border-radius: 3px;
		padding-top: 20px;
		margin: 0 auto;
		text-align: left;
		padding-left: 20px;
		hr {
			border-color: grey;
			width: 90%;
			margin: 0;
			border-width: 1px;
		}
		label {
			display: block;
			font-size: 12px;
		}
		#summaryCity, #summaryState,
		#summaryZipcode, #summaryPhone {
			display: inline-block;
		}
	}
}

#calendarContainer {
	h1 {
		font-size: $labelFontSize;
	}
	#calendar {
		margin: 50px auto;
		button:focus {
			background-color: #F2F2F2;
		}
		.fc-unthemed td.fc-today {
			background: $panoPink;
		}
		h2 {
			font-size: $labelFontSize;
		}
	}
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
	border-color: black;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	font-weight: bold;
	font-size: 18px;
}

#categoryContainer {
	margin: 125px auto;
	h1 {
		font-size: $labelFontSize;
	}
	hr {
		margin: 20px auto;
	}
	#reminder {
		width: 60%;
		margin: 0 auto;
	}
	.topAdminBoxes {
		width: 40%;
		margin: 35px 10px;
		display: inline-block;
		border: 3px solid $panoPink;
		border-radius: 3px;
		hr {
			width: 100%;
		}
	}
	#bottomAdminBox {
		border: 3px solid $panoPink;
		border-radius: 3px;
		width: 81%;
		margin: 0 auto;
		hr {
			width: 100%;
		}
	}
	#adminContainer {
		margin: 0 auto;
	}
}


