<div class="container-fluid" id="cartContainer">
	<div class="row">
		<div class="col-xs-8">
		<h1>items</h1>
			<div id="listedItems">
				<h1>Your cart is currently empty!</h1>
			</div>
		</div>
		
		<div class="col-xs-4">
		<h1>order summary</h1>
			<div id="summary">
			<!-- PLACEHOLDERS -->
				<div class="row">
					<h3 id="summaryName">Dylan Nguyen</h3>
					<hr>
					<label>full name</label>
				</div>
				<div class="row">
					<h3 id="summaryAddress">1320 144th Ave Unit 2</h3>
					<hr>
					<label>address</label>
				</div>
				<div class="row">
					<h3 id="summaryCity">San Leandro</h3>
					<hr>
					<label>city</label>
					<h3 id="summaryState">California</h3>
					<hr>
					<label>state</label>
				</div>
				<div class="row">
					<h3 id="summaryZipcode">94578</h3>
					<hr>
					<label>zipcode</label>
					<h3 id="summaryPhone">(510)909-4568</h3>
					<hr>
					<label>phone number</label>
				</div>
				<div class="row">
					<h3 id="summaryEmail">nguyendylan92@gmail.com</h3>
					<hr>
					<label>e-mail</label>
				</div>
				<div class="row">
					<h3 id="summarySubTotal">$xxx.xx</h3>
					<hr>
					<label>subtotal</label>
				</div>
				<div class="row">
					<h3><b>total</b></h3>
					<hr>
					<h2 id="summaryTotal">$xxx.xx</h2>
				</div>

			</div>
		</div>
	</div>
</div>