<div class="container" id="categoryContainer">
	<div class="row">
		<div class="col-xs-12">
			<h1>category management</h1>
			<hr>
			<div class="row">
				<p id="reminder">Please keep your password safe. If you believe your site has been compromised, please email me immediately at <a href="emailto:Andcliu@gmail.com">Andcliu@gmail.com</a>. I have a backup available and will be able to fully restore your website</p>
			</div>
		</div>
	</div>

	<div class="row" id="adminContainer">
		<div class="col-xs-12">
			<div class="topAdminBoxes">
				<h2>categories</h2>
				<p>create, update, or remove a category</p>
				<hr>
				<a href="#!"><p>ACCESS CATEGORY PAGE</p></a>
			</div>
			<div class="topAdminBoxes">
				<h2>listed items</h2>
				<p>update, create, or delete your products</p>
				<hr>
				<a href="#!"><p>ACCESS PRODUCTS PAGE</p></a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="bottomAdminBox">
				<h2>customer information</h2>
				<p>see all customer information and data here. you have the ability to remove customers as well.</p>
				<hr>
				<a href="#!"><p>ACCESS USER INFORMATION PAGE</p></a>
			</div>
		</div>
	</div>
</div>