<img src="img/head-logo.png" id="logo">
	
	<ul id="slide-out" class="side-nav">
		<li><a class="waves-effect" href="#main">Home</a></li>
		<li><a class="waves-effect" href="#!">Donation</a></li>
		<li><a class="waves-effect" href="#!">Sign in/Register</a></li>
		<li><a class="waves-effect" href="#!">Courses &amp; Events</a></li>
		<li><a class="waves-effect" href="#!">More Information</a></li>
		<li><a class="waves-effect" href="#!">Contact Us</a></li>
	</ul>
	<a href="#main" data-activates="slide-out" class="button-collapse waves-effect">&#9776;</a>